@use '@/styles/shared/variables';

.share_container {
    min-height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    
    
    

    .media_icons_container {
        max-width: 65%;
        min-height: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        backdrop-filter: blur(10px);
        pointer-events: none;
        @include variables.xs {
            display: none
        }
        @include variables.md {
            display: flex
        }

        .share_header{
            color: white;
            height: 20%;
            width: 100%;
            text-align: center;
            
        }

        .media_icon_container_inner {
            height: 80%;
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 5px;
            margin: 0 auto;



        }
    }
}