@use '@/styles/shared/variables';

.int_container {
    pointer-events: auto;
    overflow: hidden;
    border-radius: 15px;


    @include variables.xs {
        height: 66%;
        width: calc(100vw - 32px);
        margin: 0 16px;
   
    }

    @include variables.md {
        height: 100%;
        width: calc(100vw - 100px);
        margin: 0 50px;

        @media (orientation: portrait){
            height: 75%;
        }

    }

    @include variables.lg {
        height: 100%;
        width: calc(100vw - 200px);
        margin: 0px 100px;
    }

    // box-shadow: 0px 0px 6.667px 0px variables.$cardShadow;
}