@use '@/styles/shared/variables';

.backgroundStyling {

    @include variables.sm {
        width: 100vw; /* Full viewport width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image fills the space */
}
    

    @include variables.sm {
        height: 100%;
        width: 100%;
        object-fit: cover
    }
    
}