@use '@/styles/shared/variables';

.flip_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
    pointer-events: none;
    top: 60px;

    /* STYLE */
    background: var(--color-white-solid, variables.$light);

    .image_fit {
        @include variables.md {
            object-position: 0% 45%;
            transform: scale(1.2)
        }
        @include variables.lg {
            transform: scale(1);
        }
    }
}