@use '@/styles/shared/variables';

.image_container {
    /* LAYOUT */
    
    @include variables.xs{
        margin: 0 10px;
    }
    @include variables.md{
        margin: 0 auto;

    }
    
    position: relative;
    z-index: 20;
    

    /* LAYOUT */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60vh 45vh;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 10px;

    /* STYLE */
    background: var(--color-white-solid, variables.$light);

    .background_image_top {
        grid-area: 1 / 1 / span 1 / span 2;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .background_image_bottom_left {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .background_image_bottom_right {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.closeup_button_container {
    position: absolute;
    z-index: 20;
    bottom: 15vh;
    width: 400px;
    height: 60px;

    @include variables.xs {
        left: calc(50vw - 150px);
    }

    @include variables.lg {
        left: calc(50vw - 175px);
    }
}