@use '@/styles/shared/variables';


.fullscreen_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    pointer-events: none;
    overscroll-behavior: contain;
    overflow: scroll;

    .fullscreen_image{
        height:100%;
        width:100%;
        object-fit: contain;
        pointer-events: none;
        overscroll-behavior: contain;
        overflow: scroll;
    }
}
.arrow_container {
    position: absolute;
    top: calc(50vh - 20px);
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    pointer-events: auto;
}