@use '@/styles/shared/variables';

.video_scene_container {
    width: 100vw;
    height: 100v;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;

    .video_scene_container_inner {

        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 1);
        position: relative;
        z-index: 1;

        .showcase_container {
            position: absolute;
            bottom: 10vh;
            width: 100%;
            display: flex;
            justify-items: center;

            @include variables.sm {
                bottom: 30px;
                left: 0;
            }


            @include variables.md {
                bottom: 50px;
                left: 0
            }

            @include variables.lg {
                bottom:100px;
                left: 0;
            }

            @include variables.xl {
                left: 0;
            }


        }
    }

    .callout_container {
        position: relative;
        height: clamp(150px, 50vh, 350px);
        width: 100vw;
        display: flex;
        justify-content: center;
        background-color: white;
        align-items: center;

        @include variables.xs {
            height: 25vh;
        }
        @include variables.md {
            height: clamp(150px, 50vh, 350px);
        }

        .callout_container_inner {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include variables.xs {
                padding: 0 20px;
            }

            @include variables.md {
                padding: 0 100px;

                @media (orientation: portrait){
                    padding: 0 50px;
                }
            }


            .callout_paragraph {

                @include variables.xs {
                    @include variables.setTypography(24px, normal, 500, normal);
                    max-width: 928px
                }

                @include variables.md {
                    @include variables.setTypography(30px, normal, 500, normal);
                    max-width: 928px
                }

                @include variables.lg {
                    @include variables.setTypography(32px, normal, 500, normal);
                    max-width: 928px
                }

            }
        }
    }
    
}




