@use '@/styles/shared/variables';

.book_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    height: 100vh;

    @include variables.md{
        @media(orientation: portrait){
            justify-content: unset;
        }

    }

    .book_content {
        /* LAYOUT */
        @include variables.setLayout(flex, center, start, 13.33px, column);


        @include variables.md{
            width: 80%

        }
        @include variables.xl{
            width: 65%
            
        }
        height: 65vh;
        position: relative;


        /* STYLE */
        border-radius: 20px;

        .book_demo_image {
            position: absolute;
            z-index: 0;
            object-fit: cover;

            @include variables.xs {
                height: 100vh;
                min-width: 100vw;
                object-position: 55% 10%;
                

            }
            @include variables.md{
                width: 100%;
                min-width: unset;
                height: auto;
                object-position: 50 50;

                @media (orientation: portrait){
                    height: 100vh;
                    min-width: 100vw;
                    object-position: 55% 10%;
                }
            }
        }

        .book_inner_container {
            
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 3%;

            @include variables.xs {
                position: relative;
                top: -7vh;
                align-items: start;
                justify-content: start;
                
            }
            @include variables.md {

                position: relative;
                top: 0;
                align-items: start;
                justify-content: center;

                @media(orientation:portrait){
                    position: relative;
                    top: 0;
                    align-items: center;
                    justify-content: start;

                }
                
               
            }

            @include variables.lg {
                position: relative;
                top: 0;
                align-items: start;
                justify-content: center;
               
            }

    
            .book_content_heading {
                /*  STYLE*/
                color: variables.$light;
    
                /* TYPOGRAPHY */
                @include variables.xs{
                    @include variables.setTypography(41px, normal, 600, normal);
                }
                @include variables.md{
                    @include variables.setTypography(55px, normal, 700, normal);
                }
                @include variables.xl{
                    @include variables.setTypography(60px, normal, 700, normal);
                }
                
    
                /* LAYOUT */
                position: relative;
                margin-bottom: 13px
                
            }
    
            .book_content_paragraph {
                /* LAYOUT */
                

                @include variables.xs {
                    width: 100%;
                    padding: 0 0px;
                }

                @include variables.md {
                    width: 55%;
                    padding: 0 0px;

                    @media (orientation:portrait){
                        padding: 0 0px;
                    }
                }
                @include variables.xl {
                    width: 50%;
                    padding: 0 0px;
                }
                
                position: relative;
                margin-bottom:  13px;
    
                /*  STYLE*/
                color: variables.$light;
    
                /* TYPOGRAPHY */
                @include variables.xs{
                    @include variables.setTypography(16px, normal, 400, normal);
                }
                @include variables.md{
                    @include variables.setTypography(16px, normal, 400, normal);
                }
                @include variables.xl{
                    @include variables.setTypography(20px, normal, 400, normal);
                }
                
            }
        }

       
    }
}