@use '@/styles/shared/variables';

.image_container {
    height: 100%;
    width: 101%;
    position: relative;
    display: grid;
    overflow: hidden;
    background-color: #ccc;


    @include variables.xs {
        grid-template-columns: repeat(2, 50%) ;
        grid-template-rows: repeat(3, 1fr);
        top: 0;
    }
    @include variables.md {
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(2, 50%);
        top: 60px;
    }

    

    .image_container_style {
        width: 33%;
        height: 50%
    }
}