@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/sfprodisplaybold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/sfprodisplaysemibold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/sfprodisplaymedium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/sfprodisplayregular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}