@use '@/styles/shared/variables';


.flex_container {
    /* LAYOUT */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;

    .image_container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top:0;
        left:0;

        .first_image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position:  75% 50%;
        }

        .second_image {
            height: 100%;
            width: 100%;
            object-fit: cover;

            @include variables.sm {
                object-position: 30% 50%;
            }
            @include variables.md {
                object-position: 50% 50%;
            }
            
        }

    }


}