@use '@/styles/shared/variables';

.inview_trigger {
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0;
    right: 10vw;
    z-index: 100;
    // background-color: black;
}
.video_container {
    /* LAYOUT */
    @include variables.setLayout(flex, center, center);
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: "none";
    z-index: 20;
    overflow: hidden;

    /* STYLE */
    background: var(--color-white-solid, variables.$light);
}

.group_container {
    /* LAYOUT */
    height: 150vh;
    width: 100vw;
    overflow: hidden;

    .group_background_container {

        width: 100%;
        height: auto;
        position: relative;

        .group_background {
            width: 100%;
            height: 100vh;
            position: relative;
        }
    }
}