@use '@/styles/shared/variables';
/* DEFAULT STYLES */
.large_slide_inner_container{
    width: 100%;
    height: 100%;
    position: absolute;

    .callout_container {
        display: grid;
        column-gap: 10px;
        
        @include variables.xs{
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            padding: 0 30px;
        }
        @include variables.md{
            grid-template-rows: unset;
            justify-content: unset;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 50px;
        }
        @include variables.lg{
            padding: 0 100px;
        }
    }
}

.callout_paragraph {
    @include variables.xs{
        justify-self: center;
        text-align: center;
        align-self: center;
    }
    @include variables.md{
        text-align: unset;
        justify-self: flex-end;
    }
}

.callout_header {


    @include variables.xs{
        justify-self: center;
        align-self: flex-end;
    }
    @include variables.md{
        justify-self: flex-start;
        align-self: unset;
    }
    
}

/*Main Styles*/
.large_slide_inner_container_main{
    width: 100%;
    height: 100%;
    position: absolute;

   

   
  
}



.callout_container_main {
    column-gap: 10px;
    
    @include variables.xs{
        justify-content: center;
        padding: 0 30px;
    }
    @include variables.md{
        padding: 0 50px;
    }
    @include variables.lg{
        padding: 0 100px;
    }

    .callout_header_main {
        margin-bottom: 20px;

        @include variables.xs{
            justify-self: center;
            align-self: center;
            text-align: center;
            @include variables.setCallOutHeadingTypography(40px);
            width: 100vw;
            text-wrap: wrap;
            height: max-content;
            position:relative;
            top:7vh
        }
        @include variables.md{
            justify-self: flex-start;
            align-self: unset;
            top:0;
            @include variables.setCallOutHeadingTypography(60px);

            @media (orientation: portrait){
                @include variables.setCallOutHeadingTypography(48px)
            }
        }

        @include variables.lg {
            @include variables.setCallOutHeadingTypography(70px);
        }
        
    }

    .callout_paragraph_main {
        justify-self: center;
        text-align: center;
        align-self: center;        
        @include variables.xs {
            position:relative;
            top:7vh
        }

        @include variables.md {
            min-width: 700px;
            max-width: 60vw;
            top:0
        }
        
    }
}



