@use '@/styles/shared/variables';

.cta_container {
    /* LAYOUT */
    position: absolute;
    @include variables.setLayout(flex, center, center);
    height: 130vh;
    width: 100%;
    z-index:10;
    background-color: white;
    mix-blend-mode: screen;
    flex-shrink: 0;
    overflow:hidden;
    

    /* TYPOGRAPHY */
    @include variables.setTypography(160.173px, normal, 600, normal);
}

.cta_dummy_container {
    /* LAYOUT */
    height: 120vh;
    width: 100%;
    position: absolute;
    z-index: 99; 
    overflow-y: scroll;

    div {
        position: absolute;
        height: 3000px;
        width: 100%;
    }
}