@use '@/styles/shared/variables';

.closeup_modal {
    height: 100vh;
    width: 90vw;
    position: fixed;
    z-index: 50;
    overflow-y: scroll;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    left: 5%;
    bottom: -15px;
    overscroll-behavior: contain;

    .closeup_card {
        width: 100%;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
        position: absolute;
        background-color: white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 100;
        min-height: 200vh;
        height: auto;
        

        .closeup_modal_content {
            display: flex;
            width: 100%;
            flex-direction: column;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            min-height: 85vh;

            .header_container {
                @include variables.xs {
                    height: 200px;
                    width: 100%;
                    padding: 50px
                }
            }
        }
    }
}



.modal_image_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 10px;
    row-gap: 20px;
    column-gap: 20px;

}

.modal_image_container_mobile {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    padding: 0 10px;
    row-gap: 20px;
}

.modal_ar_container  {
    height: 65vh;
    width: 100%;
    // pointer-events: auto;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;

    box-shadow: 0px 0px 6.667px 0px variables.$cardShadow;
}

.modal_ar_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 10px
}


.modal_qr_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    

    .modal_inner{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        align-self: stretch;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(67, 62, 153, 0.25) inset;
        .modal_qr_inner_container {
            height: 30%;
            width: 100%;

            .modal_qr_image {

                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .modal_qr_content {
            height: 30%;
            width: 100%;

            @include variables.setTypography(16px, normal, 400, normal);
            text-align: center;
            color: #2A266A
        }
    }

   
}

 

.modal_indiv_image_container {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    .modal_indiv_image {

        height: 100%;
        width: 100%;
        object-fit: cover
    }

   

    .modal_focus_overlay {
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
    }
}

/* MODAL SHARE BUTTON CONTAINER */
.modal_share_container {

    z-index: 300;
    width: 100%;
    position: fixed;
    pointer-events: none;

    @include variables.xs {
        top: 7vh;
        left: 0


    }
    @include variables.md {
        min-height: 30%;
        left: 0;
        top: unset;
        display: flex;
        justify-content: center;
        top: 70vh;
    }
}

.exit_button_container {
    width: 100%;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 7vh;
    z-index: 1000;

    .closeup_exit_button {
        position: absolute;
        right: 8vw;
        pointer-events: auto;
    }
}


.blur_backdrop {
    position: relative;
    height: 150vh;
    z-index: 20;
    pointer-events: none;

  }

  .share_button_container {
    pointer-events: auto;
  }