@use '@/styles/shared/variables';

.blurred_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 150%;
    width: 150%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}