@use '@/styles/shared/variables';

.flex_container {
    /* LAYOUT */
    display: flex;
    width: 100%;
    position: relative;

    @media (orientation: portrait){
        flex-direction: column;
    }

    @media (orientation: landscape){
        flex-direction: row;
    }

    @include variables.xs {
        height: 100vh;
        align-items: center;
    }
    @include variables.lg {

        flex-direction: row;
        height: 100%;
        align-items: unset;
    
    }

    .image_container {
        display: flex;
        justify-content: center;

        @media (orientation: portrait) {
            width: 100%;
            height: 50vh;
        }
       
        @media (orientation: landscape){
            width: 50%;
            height: 100%;
        }
            
        

        .setting {
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include variables.xs{
                object-position: 50% 70%;
            }
            @include variables.lg{
                object-position: 50% 70%;
            }
        }

        .measurement {
            height: 100%;
            width: 100%;

            @include variables.xs{
                width: 80%;
                object-position: 20% 80%;
                object-fit: cover;

            }
            @include variables.md{
                width: 100%;
                object-position: 50% 78%;
                object-fit: cover;

                @media(orientation: portrait){
                    height: 100%;
                }

            }
            @include variables.lg{
                object-position: 50% 70%;
                object-fit: cover;
                
            }

        }


    }


}