@use '@/styles/shared/variables';
.inview_trigger {
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0;
    right: 10vw;
    z-index: 100;
    // background-color: black;
}
.image_container {
    /* LAYOUT */
    
    @include variables.xs{
        margin: 0 10px;
    }
    @include variables.md{
        margin: 0 50px;

    }
    @include variables.lg{
        margin: 0 100px;

    }
    
    position: relative;
    z-index: 20;
    

    /* LAYOUT */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60vh 45vh;
    column-gap: 10px;
    row-gap: 10px;

    /* STYLE */
    background: var(--color-white-solid, variables.$light);

    .background_image_top {
        grid-area: 1 / 1 / span 1 / span 2;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;

        @include variables.sm{
            object-position: 40% 50%;
        }
        @include variables.md{
            object-position: 50% 50%;
        }
        
    }

    .background_image_bottom_left {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .background_image_bottom_right {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.closeup_button_container {
    position: fixed;
    z-index: 20;
    
    width: 400px;
    height: 60px;

    @include variables.xs {
        top: 85vh;
        left: calc(50vw - 150px);
    }

    @include variables.md {
        top: 90vh;
        left: calc(50vw - 175px);

        @media(orientation: portrait){
            
            top: 90vh;
        }
    }
}