@use '@/styles/shared/variables';

.indiv_image {

    height: 100%;
    width: 100%;
    z-index: 300;
    position: relative;
    object-fit: contain;

}

.indiv_image_hover {

    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 290;
    position: absolute;
    top: 0;
    left: 0;

}

.hover_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; // Fade in/out transition for the overlay
    border-radius: 8px;
    z-index: 295;
    background: radial-gradient(circle,
            rgba(0, 0, 0, 0) 50%,
            /* Black center */
            rgba(0, 0, 0, 0.6) 99%,
            /* White transition */
            rgba(0, 0, 0, 0.05) 100%
            /* Almost imperceptible thin black outer edges */
        );

}