@use '@/styles/shared/variables';

.closeup_modal {
    height: 100vh;
    width: 90vw;
    position: fixed;
    z-index: 50;
    overflow-y: scroll;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    left: 5%;
    bottom: -15px;
    overscroll-behavior: contain;

    .closeup_card {
        width: 100%;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
        position: absolute;
        background-color: white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 100;
        min-height: 200vh;
        height: auto;
        

        .closeup_modal_header {
            display: flex;
            min-height: 85vh;
            width: 100%;
            flex-direction: column;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;


            .closeup_modal_header_image {
                height: 85vh;
                width: 100%;
                background-color: black;
                border-top-left-radius: 23px;
                border-top-right-radius: 23px;
                position: relative;
                overflow: hidden;

                .exit_button_container{
                    width: 100%;
                    position: fixed;
                    pointer-events: none;
                    left: 0;
                    top: 7vh;
                    z-index: 1000;
                    

                    .closeup_exit_button {
                        position: absolute;
                        right: 8vw;
                        // transform: translateY(5vh);
                        // z-index: 1000;
                        pointer-events: auto;
                    }

                }

                

            }

            .closeup_modal_header_banner {
                min-height: 10px;
                max-height: 30vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .modal_button_container {
                    width: 100%;
                    min-height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px 10px;


                    .modal_button_container_inner {
                        height: 31px;
                        flex-wrap: nowrap;
                        justify-content: center;
                        column-gap: 20px;
                        display: flex;
                        background-color: #433E99;
                        align-items: center;
                        border-radius: 30px;
                        padding: 7px 0;
                        overflow: hidden;
                        position: relative;


                        .background_highlight {
                            height: 80%;
                            margin: 0px;
                            background-color: white;
                            position: absolute;
                            left: 0;
                            border-radius: 30px;


                        }


                        .modal_filter_button {
                            height: 30px;
                            color: variables.$primaryColor;
                            text-align: center;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .modal_button_text {
                                position: relative;
                                z-index: 100;
                                background-color: transparent;

                                @include variables.sm {
                                    @include variables.setTypography(8px, normal, 500, normal)
                                }

                                @include variables.md {
                                    @include variables.setTypography(12px, normal, 500, normal)
                                }

                                @include variables.lg {
                                    @include variables.setTypography(14px, normal, 500, normal)
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}



.modal_image_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 20px;
    row-gap: 20px;
    column-gap: 20px;

}

.modal_image_container_mobile {
    margin-top: 7px;
    flex-direction: column;
    display: flex;
    padding: 0 5px;
    row-gap: 7px;
}

 

.modal_indiv_image_container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    .modal_indiv_image {

        height: 100%;
        width: 100%;
        object-fit: cover
    }

    .modal_focus_overlay {
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 1) 100%);
    }
}

/* MODAL SHARE BUTTON CONTAINER */
.modal_share_container {

    z-index: 1000;
    width: 100%;
    position: fixed;
    pointer-events: auto;

    @include variables.xs {
        top: 7vh;
        left: 0


    }
    @include variables.md {
        min-height: 30%;
        left: 0;
        top: unset;
        display: flex;
        justify-content: center;
        bottom: 4vh;
    }


    


}

.toast_container {
    background-color: rgba(255,255,255,0.7);
    div {
        @include variables.setCallOutGradient()
    }
}

.modal_filters_mobile_container {

    width: calc(100vw * 0.9);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: fixed;
    bottom: 0;
    left: calc((100vw - (100vw * 0.9))/2);
    height: 60px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px -3px 100px rgba(0, 0, 0, 0.1);

    .selected_item_container {
        /**TYPOGRPAHY*/
        @include variables.setTypography(22px, normal, 400, normal);
        color: variables.$primaryColor;
        height: 100%;
        padding-left: 10%;
        display: flex;
        align-items: center;
    }

    .arrow_selector_button {
        position: absolute;
        left: 0;
        top:0;
        background-color: transparent;
        height: 100%;
        width:100%
    }

}

.arrow_button_inner{
    height: 100%;
    width: 80vw;
    position:absolute;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.filter_bar {
    position: absolute;
    max-height: 30vh;
    overflow: scroll;
    width: 100%;
    padding-left: 12%;
    z-index: 50;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    bottom: 50px;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    overscroll-behavior: contain;

    .filter_button{
        /**TYPOGRPAHY*/
        @include variables.setTypography(22px, normal, 400, normal);
        color: variables.$primaryColor;
        margin-top: 10px
    }
}

.blur_backdrop {
    position: relative;
    height: 150vh;
    z-index: 20;
    pointer-events: none;

  }

  .share_button_container {
    pointer-events: auto;
  }