@use '@/styles/shared/variables';
.inview_trigger {
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0;
    right: 10vw;
    z-index: 100;
    // background-color: black;
}
.image_container {

    position:relative;
    margin: 0 auto;
    height: 100%;
    

    @include variables.xs {
        width: 100%;
       
    }
   
    @include variables.md {
        
        padding: 0 0px;

        @media (orientation:portrait){
            width: calc(100vw - 15vw);

        }
    }

    @include variables.lg {
        
        width: calc(100vw - 15vw);

        @media (orientation:portrait){
            width: calc(100vw - 15vw);

            padding: 0 0px;
        }
    }

    @include variables.xl {
        width: calc(100vw - 35vw);

        padding: 0 0px;
    }

}
.image {
    
    position: absolute;
    object-fit: contain;

    @include variables.xs {
        bottom: 0;
        object-position: 50% 70%;
        height: 100%;
        width: 100%;
    }
   
    @include variables.md {
        bottom: 0;
        object-position: 50% 70%;
        height: 100%;
        width: 100%;
    }

    @include variables.lg {
        bottom: 0;
        object-position: 50% 80%;
        height: 100%;
        width: 100%;
    }

    @include variables.xl {
        bottom: 0;
        object-position: 50% 100%;
        height: 100%;
        width: 100%;
    }
}