@use '@/styles/shared/variables';

.large_slide_container {
    position: fixed;
    display: flex;

    /*OPTIMISTAION*/
    content-visibility: auto;
    @include variables.xs {
        height: 120vh;
    }   
    @include variables.lg {
        @media (orientation: landscape){
            height: 130vh;
        }
    }
    width: 100vw;
    flex-direction: column;
    background-color: white;
    z-index: 21;
    top: 60px;
    .large_slide_callout_container {
        @include variables.xs {
            height: 20vh;
        }   
        @include variables.lg {
            @media (orientation: landscape){
                height: 30vh;
            }
        }
        width: 100%;
        position: relative;
        background-color: white;
    }
    .large_slide_content_container {
        height: 100vh;
        width: 100%;
    }
}

