@use '@/styles/shared/variables';

.large_slide_container {
    position: fixed;
    display: flex;
    height: 150vh;
    width: 100vw;
    flex-direction: column;
    background-color: white;
    top: 60px;
    .large_slide_callout_container {
        @include variables.xs {
            height: 20vh;
        }   
        @include variables.md {
            height: 40vh;
        }
        width: 100%;
        position: relative;
    }
    .large_slide_content_container {
        height: 100vh;
        width: 100%;
    }
}

