@use '@/styles/shared/variables';
.inview_trigger {
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0;
    right: 10vw;
    z-index: 100;
    // background-color: black;
}
.int_container {
    width: 100vw;
    height: 100vh;
    
    @include variables.xs {
        margin-top: 80px;
    }

    @include variables.md {
        margin-top: 0
    }

    .int {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: relative;

        

    }
}