@use '@/styles/shared/variables';

.int_container {
    width: calc(100vw - 200px);
    height: 100%;
    pointer-events: auto;
    margin: 0 100px;
    overflow: hidden;
    border-radius: 15px;

    box-shadow: 0px 0px 6.667px 0px variables.$cardShadow;
}