@use '@/styles/shared/variables';


.product_container {
    /* LAYOUT */
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    /*OPTIMISATION*/
    content-visibility: auto;

    .title_banner_container {
        @include variables.xs {
            height: 20vh;
        }   
        @include variables.lg {
            @media (orientation: landscape){
                height: 40vh;
            }
            
        }
        
        width: 100%;
        position: relative;
        background-color: white;
    }

    .background_image_container {
        width: 100%;

        @include variables.xs {
            height: 70vh
        }
        @include variables.md {
            height: 100vh
        }
    }
}

.product_variation_content_container {
    @include variables.xs {
        height: max-content;
    }
    @include variables.lg {
        height: clamp(300px, 50vh, 350px);
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    justify-content: space-between;
    padding: 1% 3%;
    transform-origin: center;
    will-change: transform;
    bottom: 0;
    pointer-events: auto;
    z-index: 100;
}


.images_container {
    width: 100%;
    display: flex;
    
    @include variables.xs {
        flex-direction: column;
        height: max-content;
        row-gap: 30px;
        overflow-y: none;
        align-items: center;
        justify-content: flex-start;
        padding: 15px
        
    }
    @include variables.md {
        
        flex-direction: row;
        height: clamp(200px, 50vh, 400px);
        column-gap: 20px;
        overflow-y: unset;

        
        
    }
    @include variables.lg {
        height: 100%
    }

    .indiv_image_container {
        @include variables.xs {
            height: 35vh;
            width: 60vw;

        }
        @include variables.md {
            height: 75%;
            width: 25%;
        }
        
        border-radius: 10px;
        background-image: linear-gradient(180deg, #f6f6f6 25%, #e2e2e2 100%);
        position: relative;
        display: flex;

        .indiv_image_var {
            height: 100%;
            width: 100%;
            object-fit: contain;
            position: absolute; 
            top:0;
            left: 0;
            border-radius: 10px;
            

           
        }
        
        .indiv_image_overlay {
            height: 100%;
            width: 100%;
            object-fit: contain;
            position: absolute;
            top:0;
            left: 0;
            border-radius: 10px;
        
            
        }

        .image_text {
            @include variables.setTypography(16px, normal, 600, normal);
            color: variables.$primaryColor;
            align-self: flex-end;
            position: relative;

            @include variables.xs {
                bottom: -3vh
            }
            @include variables.md {
                bottom: -5vh
            }
            
            @include variables.lg {
                bottom: -3vh
            }
            
            
        }
    }
}

